<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card card-block">
        <form class="new_service" id="new_service" actions="/services" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2">
                <p>Title</p>
              </div>
              <div class="col-xs-10">
                <input class="form-control" placeholder="Service Title For 45 Characters" type="text" name="service[title]">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2">
                <p>Price</p>
              </div>
              <div class="col-xs-8">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="text" class="form-control" name="service[price]" id="exampleInputAmount" placeholder="Amount">
                  <div class="input-group-addon">.00</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-2">

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>