<form action="/services" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-2">
        <p>Title</p>
      </div>
      <div class="col-xs-10">
        <input class="form-control" autocomplete="off" placeholder="Service Title For 45 Characters" type="text" name="title">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-2">
        <p>Price</p>
      </div>
      <div class="col-xs-8">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" autocomplete="off" class="form-control" name="price" id="exampleInputAmount" placeholder="Amount">
          <div class="input-group-addon">.00</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-2">
        <span class="form-service-label">Image<br><div class="optional-text">(JPEG ONLY)</div></span>
      </div>
      <div class="col-xs-10">
        <input type="file" name="image" accept="image/jpeg">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="form-group">
        <div class="col-xs-2">
          <span class="form-service-label">Youtube URL<br><div class="optional-text">(optional)</div></span>
        </div>
        <div class="col-xs-10">
          <input class="form-control" id="titleNewService" placeholder="Improve conversion by showing your service off as a youtube video..." type="text" name="youtubeUrl">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-2">
        Category
      </div>
      <div class="col-xs-10">
        <fieldset class="form-group">
          <select class="form-control form-control-lg" name="category" style="margin-top: 1.2%;">
            <option value="30">Ads</option>
            <option value="45">Marketing</option>
            <option value="90">Writing</option>
            <option value="180">Photography</option>
            <option value="365">Consulting</option>
          </select>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-2">
        Sub-Category
      </div>
      <div class="col-xs-10">
        <fieldset class="form-group">
          <select class="form-control form-control-lg" name="sub_category" style="margin-top: 1.2%;">
            <option value="30">Ads</option>
            <option value="45">Marketing</option>
            <option value="90">Writing</option>
            <option value="180">Photography</option>
            <option value="365">Consulting</option>
          </select>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-xs-2">
        <span class="form-service-label">Description</span>
      </div>
      <div class="col-xs-10">
        <fieldset class="form-group">
          <textarea class="form-control" id="exampleTextarea" name="description" rows="6" placeholder="Enter A Description For Your Service"></textarea>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="form-group">
        <div class="col-xs-2">
          <span class="form-service-label">Refund Time</span>
        </div>
        <div class="col-xs-8">
          <fieldset class="form-group">
            <select class="form-control form-control-lg" name="refund" style="margin-top: 1.2%;">
              <option value="30">30 Days</option>
              <option value="45">45 Days</option>
              <option value="90">90 Days</option>
              <option value="180">180 Days</option>
              <option value="365">365 Days</option>
            </select>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-xs-2">
        <span class="form-service-label">Due Date</span>
      </div>
      <div class="col-xs-8">
        <fieldset class="form-group">
          <select class="form-control form-control-lg" name="due_date" style="margin-top: 1.2%;" >
            <option value="1">1 Day</option>
            <option value="2">2 Days</option>
            <option value="3">3 Days</option>
            <option value="4">4 Days</option>
            <option value="5">5 Days</option>
            <option value="6">6 Days</option>
            <option value="7">7 Days</option>
          </select>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-xs-2">
        <span class="form-service-label"># of Revisions</span>
      </div>
      <div class="col-xs-8">
        <fieldset class="form-group">
          <select class="form-control form-control-lg" name="revisions" style="margin-top: 1.2%;" >
            <option value="1">1 Revision</option>
            <option value="2">2 Revisions</option>
            <option value="3">3 Revisions</option>
            <option value="4">4 Revisions</option>
            <option value="5">5 Revisions</option>
            <option value="6">6 Revisions</option>
            <option value="7">7 Revisions</option>
            <option value="100">Unlimited</option>
          </select>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
    <div class="col-xs-6 col-xs-offset-3">
      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create Service">
    </div>
  </div>
</form>
