<% if user_signed_in? %>
<% else %>
    <div class="jumbotron">
      <h1 class="display-3 jumbotron-cta" style="font-weight: 700;text-align: center;">Start Buying And Selling eCommerce Services</h1>
      <p style="text-align: center;">Sign Up And Receive 100% Of Your Own Sales</p>
      <div class="container" style="text-align: center;">
        <form action="/users" class="form-inline" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <div class="form-group">
            <input type="text" autofocus="autofocus" class="form-control left-field" placeholder="username" name="user[username]">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="email" name="user[email]">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="password" name="user[password]">
          </div>
          <input class="btn btn-success btn-jumbotron" name="commit" type="submit" value="Create Account">
        </form>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <div class="card card-block">
      <p style="text-align: center;"><a href="/">Filter Products</a></p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <%# TODO ADD PICTURE FROM S3 AND CORRECT LINKS %>
      <% @services.each do |service| %>
          <div class="col-md-3">
            <div class="service-preview" style="padding: 4%;background: #fff;">
              <a href="/services/<%= service.title_seo %>"><img src="https://images.unsplash.com/photo-1413708617479-50918bc877eb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=21cdd1cc5c52f98dc011ebfb2f7148b2" width="100%"></a>
              <a href="/"><p style="text-align: center;"><%= service.title %></p></a>
              <% if user_signed_in? %>
                <div class="center" style="text-align: center;"><a href="/" class="btn btn-success">$<%= service.price %></a></div>
              <% else %>
                  <div class="center" style="text-align: center;"><a href="/users/sign_up" class="btn btn-success">Register To See Price</a></div>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
